{% extends 'base.html' %} {% block content %}
<!--================Login Box Area =================-->
<section class="login_box_area section-margin">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="login_box_img">
          <div class="hover">
            <h4>У вас уже есть аккаунт?</h4>
            <a class="button button-account" href="{{ url_for('login') }}">Войти</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="login_form_inner register_form_inner">
          <h3>ЗАВЕСТИ АККАУНТ</h3>
          <form class="row login_form" action="#/" id="register_form">
            <div class="col-md-12 form-group">
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                placeholder="Имя Пользователя"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Username'"
              />
            </div>
            <div class="col-md-12 form-group">
              <input
                type="text"
                class="form-control"
                id="email"
                name="email"
                placeholder="Адрес электронной почты"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Email Address'"
              />
            </div>
            <div class="col-md-12 form-group">
              <input
                type="text"
                class="form-control"
                id="password"
                name="password"
                placeholder="Пароль"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Password'"
              />
            </div>
            <div class="col-md-12 form-group">
              <input
                type="text"
                class="form-control"
                id="confirmPassword"
                name="confirmPassword"
                placeholder="Подтвердить Пароль"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Confirm Password'"
              />
            </div>
            <div class="col-md-12 form-group">
              <div class="creat_account">
                <input type="checkbox" id="f-option2" name="selector" />
                <label for="f-option2">Забыли пароль?</label>
              </div>
            </div>
            <div class="col-md-12 form-group">
              <button
                type="submit"
                value="submit"
                class="button button-register w-100"
              >
                Зарегистрироваться
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Login Box Area =================-->
{% endblock %}
