{% extends 'base.html' %} 
{% block content %}

<form action="" method="POST" novalidate>
    {{ form.hidden_tag() }}

    {{ form.email.label }}

    {% if form.email.errors %}
    {{ form.email }} <br>
    {% for error in form.email.errors %}
        <span> {{ error }}</span>
    {% endfor %}
    {% else %}
    {{ form.email }} <br>
    {% endif %}
    {{ form.password.label }}
    {{ form.password }} <br>
    {{ form.confirm_password.label }}
    {{ form.confirm_password }} <br>
    
    {{ form.submit }} 
</form>

{% endblock %}