{% extends 'base.html' %} {% block content %}
<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="category">
  <div class="container h-100">
    <div class="blog-banner">
      <div class="text-center">
        <h1>Отслеживание заказа</h1>
        <nav aria-label="breadcrumb" class="banner-breadcrumb">
          <ol class="breadcrumb">
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- ================ end banner area ================= -->

<!--================Tracking Box Area =================-->
<section class="tracking_box_area section-margin--small">
  <div class="container">
    <div class="tracking_box_inner">
      <p>
        Чтобы отследить свой заказ, введите идентификатор заказа в поле ниже и нажмите кнопку «Отследить». 
        Это было указано в квитанции и в письме с подтверждением, которое вы должны были получить.
      </p>
      <form
        class="row tracking_form"
        action="#"
        method="post"
        novalidate="novalidate"
      >
        <div class="col-md-12 form-group">
          <input
            type="text"
            class="form-control"
            id="order"
            name="order"
            placeholder="Номер заказа"
            onfocus="this.placeholder = ''"
            onblur="this.placeholder = 'Order ID'"
          />
        </div>
        <div class="col-md-12 form-group">
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Платежный адрес электронной почты"
            onfocus="this.placeholder = ''"
            onblur="this.placeholder = 'Billing Email Address'"
          />
        </div>
        <div class="col-md-12 form-group">
          <button type="submit" value="submit" class="button button-tracking">
            Отследить
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
<!--================End Tracking Box Area =================-->
{% endblock %}
